.controls
  display: flex
  align-items: center
  padding: 0 20px
  &__iconPlay
    width: 34px
    height: 34px
    &:hover
      cursor: pointer
  &__iconNav
    width: 15px
    height: 15px
    &:hover
      cursor: pointer
